
/* CSS for Index page */


/* For "WhosBizi" */
.indexTitle {
    padding-top: 20px;
    font-size: 120px;
    color: #0000CD;
    text-align: center;
}

/* For "By Yashas Ravi" */
.indexSubTitle {
    padding-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #0000CD;
    text-align: center;   
}

@media only screen and (max-width: 500px) { 
    .indexTitle {
        font-size: 50px;
    }

    .indexSubTitle {
        font-size: 25px;
    }

    /* Entire form for username and password input */
    .inputField {
        width: 150px;
    }

    /* "More information" and "Contact me" buttons */
    .buttons {
        width: 150px;
    }
}