.indexTitle {
    padding-top: 20px;
    font-size: 120px;
    color: #0000CD;
    text-align: center;
}

.indexSubTitle {
    padding-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #0000CD;
    text-align: center;   
}

@media only screen and (max-width: 500px) { 
    .indexTitle {
        font-size: 50px;
    }

    .indexSubTitle {
        font-size: 25px;
    }

    .inputField {
        width: 150px;
    }

    .buttons {
        width: 150px;
    }
}