:root {
    --arrowState: 50%;
}

.wholeTable {
    border: 4px solid white;
    padding-right: 15px;
    background-color: #2B3034;
}



table.table-bordered > tbody > tr > td{
    border:1px solid white;
    word-wrap:break-word;
    /*
    table-layout: fixed;
    height: 50px;
    word-wrap:break-word;
    */
    /*width: 100px;*/
}


/*
.rowHeader {
    width: 30%;
}
*/

#arrowLeft {
    opacity: var(--arrowState);
}

.arrow_btn:hover {
    fill: yellow;
}

.myTable {
    overflow-x:auto;
}


#friendLink {
    color: yellow;
    text-decoration: none;
}

#friendLink:hover {
   color: #FFA500;
}

.pageText1 {
    display: none;
}

.pageText2 {
    display: block;
}

#friendSearchForm {
    margin-left: 20px;
    width: 200px;
}

.bottomStuff {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}


@media only screen and (max-width: 750px) {

    table.table-bordered {
        width: 800px;
    }

    /*
    table.table-bordered {
        table-layout: fixed;
        width: 1000px;
        word-wrap:break-word;
    }
    */

    /*
    table.table-bordered > tbody > tr > td:nth-child(1) {
        width: 200px;
    }
    */
    
    /*
    .rowHeader {
        width: 200px;
    }
    */

    /*
    table.table-bordered > tbody > tr > td{
        width: 200px;
    }
    */
    
    
}

@media only screen and (max-width: 510px) {

    
    #friendSearchForm {
        width: 85%;
        margin-left: 0px;
    }

    #searchFriends {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #friendSearchForm {
        margin-left: 0px;
    }
    
    #arrowLeft {
        position: relative;
        left: 30px;
    }

    .pageText1 {
        display: block;
    }
    
    .pageText2 {
        display: none;
    }

    table.table-bordered {
        width: 600px;
    }

    #searchFriends {
        border: none;
        width: 180px;
        left: 0px;
        /*left: 40px;*/
    }

    .bottomStuff {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}