/* CSS - Header component */

/* Body of header containing all the buttons. */
#headerBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Contains link tags each of which enclose a button. EXCLUDES the "WhosBizi" title. */
#headerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Contains the "WhosBizi" title in Header. NO Links included. */
#headerTitle {
    margin-left: 30px;
}

/* Wrapper for the button itself, INSIDE the link tag */
#oneLink {
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

@media only screen and (max-width: 900px) { 
    /* Set orientation of buttons to vertical */
    #headerBody {
        flex-direction: column;
    }

    /* Make vertical space between each button */
    #headerLinks {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 700px) {
    /* Change orientation for every link */
    #oneLink {
        width: 65px;
        height: 50px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 450px) {
    /* Change orientation for every link */
    #oneLink {
        width: 65px;
        height: 50px;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    /* Remove display of links */
    #headerLinks {
        display: none;
    }
}